<header>
  <div class="navbar">
    <img src="/images/logo.png" alt="Gradious Logo" class="logo" />
    <div class="university-name">Gradious Affiliation Portal</div>
    <nav>
      <a href="/">Home</a>
      <a href="#features-section">Features</a>
      <a href="/contact">Contact</a>
    </nav>
  </div>
</header>
